<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="css/demo.css" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/demo.js"></script>
</head>
<body>

<div id="container">

  <div class="header">
    <div id="tools">
      <div id="clock">2011/12/21<br>03:06</div>

      <div id="menu">
        <a id="menuList" href="#">List</a>
        <a id="menuDemo" href="#">Demo</a>
      </div>
    </div>

    <span class="title"><span class="first">B</span>lue Leaf Hill Messageboard</span>
  </div>

  <div id="demo" class="main">
    <span class="message" style="font-family: 'SansationBold';">〜 Message 〜</span>
  </div>

  <div id="list" class="main" style="display: none;">
    <div id="listItem1">How many special people change?</div>
    <div id="listItem2"></div>
    <div id="listItem3"></div>
    <div id="listItem4"></div>
    <div id="listItem5"></div>
    <div id="listItem6"></div>
    <div id="listItem7"></div>
    <div id="listItem8"></div>
    <div id="listItem9"></div>
    <div id="listItem10"></div>
  </div>

  <div class="footer">
    <form name="add" action="">
      <input type="text" id="subject" />
      <input type="button" id="go" value="go" />
      <img id="wait" src="images/ajax-loader.gif" alt="" />
    </form>
  </div>

</div>

</body>
</html>
