<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="css/demo.css" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/demo.js"></script>
</head>
<body>

<div id="container">

  <div class="header">
    <span class="title">Blue Leaf Hill Messageboard</span>
  </div>

  <div id="main">
    <span class="message" style="font-family: 'SansationBold';">〜 Message 〜</span>
  </div>

  <div class="footer">
    <form name="add" action="">
      <input type="text" id="subject" />
      <input type="button" id="go" value="go" />
      <img id="wait" src="images/ajax-loader.gif" alt="" />
    </form>
  </div>

</div>

</body>
</html>
